{% extends 'base.html.twig' %}

{% block title %}Snowtrick - mot de passe oublié{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-4">Page oublie du mot de passe</h1>
        <h2>Ici vous allez pouvoir recréer un mot de passe,</h2>
        <h2>mais taché de le noter cette fois ;)</h2>
        <h2>Nous avons besoin de votre email pour vous retrouver</h2><br/>
        {{ form_start(requestPassForm)}}
        {{ form_row(requestPassForm.email)}}
        <button class="btn btn-primary mt-4" type="submit">Envoyer</button>
        {{ form_end(requestPassForm)}}

    </div>
{% endblock %}