{% extends 'base.html.twig' %}

{% block title %}Snowtricks - Connexion{% endblock %}

{% block body %}
    <div class="login_page">
        <h1>Formulaire de connexion</h1>

            {% for message in app.flashes('success') %}
                <div class="alert alert-success mt-4">
                    {{ message }}
                </div>
            {% endfor %}

            {% if error %}
                <div class="alert alert-danger">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}


            <form action="{{ path('security.login') }}" method="post">
                <div class="cards">
                    <h3>Login</h3>

                    <div class="inputBox">
                        <input type="email" id="username" name="_username"
                        value="{{ last_username }}" required="required">
                        <span>Adresse email</span>
                    </div>

                    <div class="inputBox">
                        <input type="password" id="password" name="_password" required="required">
                        <span>Mot de passe</span>
                    </div>

                    <button class="button_login" type="submit">Enter</button>
                    <a href="">Mot de passe oublié</a>
                </div>
            </form>

            <button class="button_login"><a href="/inscription">inscription</a></button>
    </div>
{% endblock %}