{% extends 'base.html.twig' %}

{% block title %}Snowtrick - Réinitialisation du mot de passe{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-4">Page réinitialisation du mot de passe</h1>
        {{ form_start(resetPass)}}
        {{ form_row(resetPass.password)}}
        <button class="btn btn-primary mt-4" type="submit">Envoyer</button>
        {{ form_end(resetPass)}}

    </div>
{% endblock %}