@import url('https://fonts.googleapis.com/css2?family=Lora&family=Rubik+Bubbles&display=swap');

html { /*
    --green-color: #18534F;
    --lightgreen-color: #226D68;
    --light-color: #ECF8F6;
    --yellow-color: #FEEAA1;
    --darkyellow-color: #D6955B;
    /* seconde palette */
    --ligthblue-color: #27C7D4;
    --white-color: #ffffff;
    --black-color: #000000;
    --creamy-color: #FDF0E7;
    --orange-color: #FE9063;
    --lightred-color: #EA5863;
    font-size: 100%;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

header {
    z-index: -10;
    height: 90vh;
    width: 100%;
    background: url('../images/background_snowtrick.jpeg');
    background-repeat: no-repeat;
    /*background-attachment: ;*/
    background-size: cover;
    border-bottom: 2px solid black;
}

/* -------------------- Navigation -------------------- */

.nav {
    z-index: 10;
    top: 0;
    position: fixed;
    height: 80px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    backdrop-filter: blur(8px);
    border-bottom: 2px solid black;
}

.nav .logo {
    text-decoration: none;
    top: 0;
    left: 0;
    margin-top: 5px;
    margin-left: 25px;
    color: var(--black-color);
    font-size: 2.5em;
    font-weight: 500;
}

.nav .links ul {
    display: flex;
}

.nav .links ul li {
    margin: 0px 0px;
    right: 0;
    padding-right: 0%;
    padding-top: 25px;
    width: 150px;
    text-align: center;
    background-color: transparent;
    font-family: 'Lora', sans-serif;
    height: 80px;
    align-items: center;
}

.nav .links ul li:hover {

}

.nav .links ul li a {
    text-decoration: none;
    color: var(--black-color);
    font-size: 1.2em;
    transition: all 0.1s ease;
}

.nav .links ul li a:hover {
    cursor: pointer;
    color: var(--lightred-color);
    text-transform: uppercase;
}

.bx-menu {
    position: absolute;
    right: 50px;
    top: 50px;
    display: none;
}

@media screen and (max-width: 900px) {
    .nav {
        padding: 0;
    }
    .nav .logo {
        top: 50px;
    }
    .bx {
        display: block;
        position: fixed;
        opacity: 1;
        font-size: 45px;
        margin-top: -20px;
    }
    .links {
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.824);
        backdrop-filter: blur(4px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.8s ease;
    }
    .mobile-menu {
        margin-left: 0;
    }
    .links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav .links ul li {
        margin: 25px 0;
        font-size: 1.2em;
    }
    .nav .links ul li a {
        text-transform: uppercase;
        color: lightgrey;
    }
}
/* -------------------- body -------------------- */

body {
    left: 0;
    background: white;
}

.container {
    margin-top: 8%;
    background-color: #ffffff;
    height: 600px;
}

.tricks_home {
    color: var(--black-color);
}

/* -------------------- tricks home page -------------------- */

.tricks_home {
    margin: 5% 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: lightgrey;
    border-radius: 20px;
    width: 90%;
    padding: 5% 0%;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 1% 1%;
}

.card-body {
    margin: 4% 0%;
}

.card-body h5 {
    font-size: 30px;
    text-align: right;
}

.card_button {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: 5%;
}

.card_button i {
    color: #000;
    font-size: 30px;
}

.button_edit {
    margin-right: 5%;
}


/* -------------------- Login Form -------------------- */

.login_page {
    margin-top: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #ffffff;
    min-height: 100vh;
}

.login_page .button_login {
    margin-top: 3%;
}

.login_page .button_login a {
    text-decoration: none;
    color: black;
}

.login_page .button_login a:hover {
    color: #ffffff;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    width: 350px;
    flex-direction: column;
    gap: 35px;
    border-radius: 15px;
    background: #ffffff;
    box-shadow: 16px 16px 32px #c8c8c8,
        -16px -16px 32px #fefefe;
}

h1, h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.inputBox {
    position: relative;
    width: 300px;
}

.inputBox input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    color: #000;
    font-size: 1em;
    background: transparent;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    transition: 0.1s;
}

.inputBox span {
    margin-top: 5px;
    position: absolute;
    left: 0;
    transform: translateY(-4px);
    margin-left: 10px;
    padding: 10px;
    pointer-events: none;
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 3px;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
    transform: translateX(125px) translateY(-20px);
    font-size: 0.8em;
    padding: 5px 10px;
    background: #000;
    letter-spacing: 0.2em;
    color: #ffffff;
    border: 2px;
}

.inputBox input:valid,
.inputBox input:focus {
    border: 2px solid #000;
}

.button_login {
    height: 45px;
    width: 100px;
    border-radius: 5px;
    border: 2px solid #000;
    cursor: pointer;
    background-color: transparent;
    transition: 0.5s;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
}

.button_login:hover {
    background: #000;
    color: white;
}

.login_page a {
    text-decoration: none;
    color: #000;
}

.login_page a:hover {
    color: var(--ligthblue-color);
}

/* -------------------- Footer -------------------- */

footer {
    left: 0;
    bottom: 0;
    background: transparent;
    margin-top: 5%;
    padding-top: 2%;
}

.nav_footer {
    text-align: center;
}

.nav_footer a {
    text-decoration: none;
    font-size: 25px;
    color: black;
}

.nav_social {
    width: 75%;
    height: 100px;
    margin-left: 5%;
    background-color: var(--orange-color);
    border-radius: 15px;
}

.nav_social ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav_social i {
    font-size: 3em;
    padding: 10px 50px;
    color: black;
}

.liens_utiles {
    right: 0;
    width: 75%;
    margin-left: 20%;
    height: 100px;
    background-color: var(--ligthblue-color);
    border-radius: 15px;
}

.liens_utiles ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.liens_utiles ul li {
    justify-content: center;
    align-items: center;
    font-size: 3em;
    padding: 10px 50px;
}

.liens_utiles ul li a:hover {
    border-bottom: 2px solid black;
}

.copyright {
    margin-top: 1%;
    padding-top: 1%;
    font-size: 1.2em;
    text-align: center;
    border-top: 2px dotted black;

}