@import url('https://fonts.googleapis.com/css2?family=Lora&family=Rubik+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap');

html {
    --ligthblue-color: #27C7D4;
    --white-color: #ffffff;
    --black-color: #000000;
    --creamy-color: #FDF0E7;
    --orange-color: #FE9063;
    --lightred-color: #EA5863;
    --lightgreen-color: #8CBD97;
    --grey-color: rgba(0, 0, 0, 0.79);
    font-size: 100%;
    --SedgwickAve-font: 'Sedgwick Ave', sans-serif;
    --Lora-font: 'Lora', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

/* -------------------- Navigation -------------------- */

.nav {
    z-index: 10;
    top: 2%;
    position: absolute;
    height: 60px;
    width: 100%;
}

.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-right: 1%;
}

.nav ul li {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid var(--black-color);
}

.nav ul li a {
    width: 100%;
    height: 50px;
    padding-top: 8px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--SedgwickAve-font);
    font-size: 25px;
    color: var(--black-color);
}

.nav .color_home {
    color: var(--creamy-color);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 20%, rgba(0,212,255,1) 100%);
}
.nav .color_home:hover {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 80%, rgba(0,212,255,1) 100%);
}
.nav .color_tricks {
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(253,240,231,1) 20%, rgba(255,156,88,1) 100%);
}
.nav .color_tricks:hover {
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(253,240,231,1) 80%, rgba(255,156,88,1) 100%);
}
.nav .color_newTricks {
    background: linear-gradient(90deg, rgba(254,144,99,1) 10%, rgba(255,235,73,1) 30%);
}
.nav .color_newTricks:hover {
    background: linear-gradient(90deg, rgba(254,144,99,1) 70%, rgba(255,235,73,1) 90%);
}
.nav .color_login {
    background: linear-gradient(90deg, rgba(140,189,151,1) 70%, rgba(234,88,99,1) 100%);
}
.nav .color_login:hover {
    background: linear-gradient(90deg, rgba(140,189,151,1) 90%, rgba(234,88,99,1) 100%);
}
.nav .color_logout {
    background: linear-gradient(90deg, rgba(234,88,99,1) 70%, rgba(140,189,151,1) 90%);
}
.nav .color_logout:hover {
    background: linear-gradient(90deg, rgba(234,88,99,1) 90%, rgba(140,189,151,1) 100%);
}

.bx-menu {
    position: absolute;
    right: 30px;
    top: 20px;
    display: none;
}

@media screen and (max-width: 900px) {
    .nav {
        padding: 0;
    }
    .nav .logo {
        top: 50px;
    }
    .bx-menu {
        display: block;
        position: fixed;
        opacity: 1;
        font-size: 45px;
    }

    .nav ul {
        margin-left: -100%;
        top: 0;
        left: 0;
        position: fixed;
        background-color: var(--grey-color);
        backdrop-filter: blur(4px);
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .nav .mobile-menu {
        margin-left: 0;
    }
    .nav ul li {
        margin: 25px 0;
        width: 95%;
        border: none;
    }
    .nav .color_home {
        color: var(--creamy-color);
        border: none;
        background: transparent;
    }
    .nav .color_login {
        color: var(--creamy-color);
        border: none;
        background: transparent;
    }
    .nav .color_logout {
        color: var(--creamy-color);
        border: none;
        background: transparent;
    }
    .nav .color_newTricks {
        color: var(--creamy-color);
        border: none;
        background: transparent;
    }
    .nav .color_tricks {
        color: var(--creamy-color);
        border: none;
        background: transparent;
    }
    .nav .color_home:hover {
        background: none;
    }
    .nav .color_newTricks:hover {
        background: none;
    }
    .nav .color_tricks:hover {
        background: none;
    }
    .nav .color_login:hover {
        background: none;
    }
    .nav .color_logout:hover {
        background: none;
    }
}

/* ---------- flying button  ---------- */

#scrollTopBtn {
    z-index: 99;
    display: none;
    position: fixed;
    bottom: 15%;
    right: 4%;
    opacity: 0.6;
}

.flying_button button {
    max-width: 50px;
    max-height: 50px;
    background-color: transparent;
    border: transparent;
}

.flying_button i {
    text-align: center;
    font-size: 50px;
    color: var(--creamy-color);
    background-color: var(--grey-color);
    border-radius: 12px;
}

.flying_button i:hover {
    background-color: var(--orange-color);
}

@media screen and (max-width: 900px) {
    #scrollTopBtn {
        display: none;
        bottom: 10%;
        right: 3%;
    }
}

/* -------------------- body -------------------- */

body {
    left: 0;
    background: white;
}

.container {
    margin-top: 6%;
    margin-left: 5%;
    width: 90%;
    background-color: #ffffff;
}

.tricks_home {
    color: var(--black-color);
}

/* -------------------- tricks home page -------------------- */

.tricks_home {
    margin: 0% 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 20px;
    width: 100%;
    padding: 2% 5%;
    background-color: #ffffff;
    box-shadow: 16px 16px 32px #c8c8c8,
    -16px -16px 32px #fefefe;
}

.tricks_home .connected {
    position: absolute;
    top: 17%;
    right: 12%;
    padding: 0.5% 0.5%;
    background-color: var(--lightgreen-color);
    border-radius: 12px;
}

.tricks_home .connected li {
    font-family: var(--Lora-font);
    font-size: 25px;
    margin-left: 10px;
    letter-spacing: 2px;
}

.tricks_home .connected span {
    color: var(--black-color);
    font-size: 20px;
}

.tricks_home .connected li .greenDot {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: red;
}

.tricks_home .image_header img {
    width: 100%;
    height: 100%;
    max-height: 600px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 2%;
}

.tricks_home .image_header i {
    position: absolute;
    top: 90%;
    right: 47%;
    font-size: 50px;
    background-color: var(--creamy-color);
    opacity: 0.6;
    border-radius: 12px;
}
.tricks_home .image_header i:hover {
    background-color: var(--orange-color);
}

.tricks_home .image_header .special_title {
    position: absolute;
    top: 11%;
    left: 4%;
    display: flex;
    flex-direction: row;
    background-color: var(--creamy-color);
    padding: 0% 4%;
    border-radius: 12px;
    transform: rotate(-10deg);
    border: 4px solid var(--lightred-color);
}

.tricks_home .image_header .special_title span {
    font-family: var(--SedgwickAve-font);
    font-size: 100px;
    color: var(--ligthblue-color);
}

.tricks_home .image_header .special_title h1 {
    padding-top: 4%;
    font-family: var(--SedgwickAve-font);
    font-size: 80px;
    color: var(--black-color);
    border-top: 4px solid var(--black-color);
    border-bottom: 4px solid var(--black-color);
}

.tricks_home .tricks_title {
    font-family: var(--SedgwickAve-font);
    font-size: 40px;
    color: var(--black-color);
    padding-top: 2%;
    margin-top: 2%;
    border-top: 2px solid black;
}

.tricks_home a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.tricks_home .card {
    display: flex;
    flex-direction: column;
    margin: 0% 2%;
    margin-top: 1%;
    margin-bottom: 5%;
    padding: 2% 1%;
    box-shadow: 16px 16px 32px #c8c8c8,
    -16px -16px 32px #fefefe;
    transition: all 0.1s ease;
}

.card:hover {
    border-left: 6px solid var(--lightred-color);
    transform: translateX(5px)
            translateY(-5px);
}

.card img {
    height: 180px;
}

.card-body {
    margin-bottom: -5%;
}

.card-body h5 {
    font-family: var(--SedgwickAve-font);
    background-color: var(--orange-color);
    width: 200px;
    padding-top: 6px;
    margin: 0% 1%;
    font-size: 30px;
    text-align: center;
}

.card_button {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--ligthblue-color);
    width: 180px;
    height: 50px;
    padding-top: 3px;
    margin: 5% 20%;
    align-items: center;
}

.card_button i {
    color: #000;
    font-size: 30px;
}

.tricks_home .card:nth-child(1n+9) {
    display: none;
}

.tricks_home .load_more {
    text-align: center;
    background-color: var(--grey-color);
    padding: 2% 2%;
    border-radius: 12px;
    color: var(--orange-color);
    text-transform: uppercase;
    font-family: var(--SedgwickAve-font);
    font-size: 25px;
    width: 800px;
    height: 80px;
    opacity: 0.9;
}
.tricks_home .load_more:hover {
    opacity: 1;
}
.loading {
    display: none;
    height: 32px;
    width: 32px;
    margin: 0 auto;
    margin-top: -7%;
    animation: loader1 3s linear infinite;
}
@keyframes loader1 {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
.loading span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 32px;
    height: 32px;
    clip: rect(16px, 32px, 32px, 0);
    animation: loader2 1.5s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}
@keyframes loader2 {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
.loading span::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 32px;
    height: 32px;
    border: 3px solid transparent;
    border-top: 3px solid var(--white-color);
    border-radius: 50%;
    animation: loader2 1.5s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}
@keyframes loader3 {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
.loading span::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 32px;
    height: 32px;
    border: 3px solid var(--orange-color);
    border-radius: 50%;
}
.load_more.show-loader {
    width: 500px;
    height: 95px;
    background-color: var(--grey-color);
    text-indent: -9999px;
}
.load_more.show-loader .loading {
    display: block;
}
.load_more.loaded {
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: visibility .3s 3s, opacity .3s 3s, height .3s 3s;
}

.button_edit {
    margin-right: 5%;
}

@media screen and (max-width: 900px) {
    .tricks_home {
        width: 95%;
    }
    .tricks_home .connected {
        top: 9%;
        right: 24%;
    }
    .tricks_home .image_header .special_title {
        top: 5%;
        left: 3%;
    }
    .tricks_home .image_header .special_title span {
        font-size: 55px;
    }
    .tricks_home .image_header .special_title h1 {
        font-size: 45px;
    }
    .tricks_home .tricks_title {
        font-size: 35px;
    }
    .tricks_home .card {
        width: 50%;
        margin-bottom: 10%;
    }
    .tricks_home .load_more {
        height: 55px;
    }
}

/* -------------------- Show.html.twig Tricks -------------------- */

.tricks_body {
    margin: 5% 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 20px;
    width: 100%;
    padding: 2% 5%;
    background-color: #ffffff;
    box-shadow: 16px 16px 32px #c8c8c8,
    -16px -16px 32px #fefefe;
}

.tricks_title {
    position: relative;
}

.tricks_title img {
    width: 100%;
    height: 100%;
    max-height: 600px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 5%;
}
.tricks_title h1 {
    font-family: var(--SedgwickAve-font);
    font-size: 40px;
    color: var(--lightred-color);
    position: absolute;
    left: 2%;
    top: 72%;
    background-color: var(--grey-color);
    padding: 1% 1%;
    border-radius: 12px;
}

.button_block {
    position: absolute;
    background-color: var(--grey-color);
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 120px;
    top: 2%;
    right: 2%;
}

.button_block .button_edit a {
    color: var(--ligthblue-color);
    text-decoration: none;
    font-size: 35px;
}

.button_block .button_delete a {
    color: var(--lightred-color);
    text-decoration: none;
    font-size: 35px;
}

.tricks_media {
    padding: 5% 5%;
    border-radius: 12px;
    background-color: var(--grey-color);
    margin-bottom: 1%;
}

.tricks_media h1 {
    font-family: var(--SedgwickAve-font);
    margin-top: -1%;
    margin-left: -3%;
    color: var(--lightred-color);
}

.images_tricks {
    padding-bottom: 5%;
}

.images_tricks h2 {
    font-family: var(--SedgwickAve-font);
    padding-top: 2%;
    padding-bottom: 1%;
    color: var(--ligthblue-color);
}

.images_tricks img {
    border-radius: 25px;
}

.border_tricks {
    padding-top: 5%;
    border-bottom: 1px solid white;
    width: 50%;
    margin-left: 25%;
}

.videos_tricks h2 {
    font-family: var(--SedgwickAve-font);
    padding-top: 0%;
    padding-bottom: 1%;
    color: var(--ligthblue-color);
}

.tricks_description {
    padding: 5% 5%;
    border-radius: 12px;
    background-color: var(--grey-color);
    margin-bottom: 1%;
}

.tricks_description h1 {
    font-family: var(--SedgwickAve-font);
    color: var(--ligthblue-color);
}

.tricks_description p {
    font-size: 25px;
    margin-left: 2%;
    margin-bottom: 5%;
    color: var(--creamy-color);
}

.tricks_widget {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--grey-color);
    padding: 3% 3%;
    border-radius: 12px;
    color: var(--creamy-color);
    margin-bottom: 1%;
}

.tricks_widget h2 {
    font-family: var(--SedgwickAve-font);
    font-size: 20px;
}

.tricks_widget span {
    font-family: var(--Lora-font);
}

.tricks_widget .span_1 {
    color: var(--orange-color);
}

.tricks_widget .span_2 {
    color: var(--lightred-color);
}

.tricks_widget .span_3 {
    color: var(--ligthblue-color);
}

.tricks_comments {
    background-color: var(--grey-color);
    padding: 3% 3%;
    border-radius: 12px;
}

.tricks_comments h1 {
    font-family: var(--SedgwickAve-font);
    color: var(--ligthblue-color);
}

.tricks_comments .form_comments {
    background-color: var(--white-color);
    padding: 2% 2%;
    border-radius: 12px;
}

.form_comments .form_widget h4 {
    font-family: var(--Lora-font);
    margin-bottom: 1%;
}

.form_comments .form_widget textarea {
    height: 100px;
    margin-bottom: 2%;
}

.tricks_comments .comments_card {
    text-align: justify;
    width: 800px;
    margin-left: 15%;
    margin-top: 4%;
    border-bottom: 1px solid white;
    padding-bottom: 2%;
}


.tricks_comments .comments_card h3 {
    font-family: var(--Lora-font);
    color: var(--orange-color);
}

.tricks_comments .comments_card p {
    font-family: var(--Lora-font);
    color: var(--creamy-color);
    padding-left: 5%;
}

.tricks_comments .comments_card form {
    text-align: right;
}

.tricks_comments .tricks_pagination {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}


/* -------------------- Login Form -------------------- */

.login_page {
    margin-top: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #ffffff;
    min-height: 100vh;
}

.login_page .button_login {
    margin-top: 3%;
}

.login_page .button_login a {
    text-decoration: none;
    color: black;
}

.login_page .button_login a:hover {
    color: #ffffff;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    width: 350px;
    flex-direction: column;
    gap: 35px;
    border-radius: 15px;
    background: #ffffff;
    box-shadow: 16px 16px 32px #c8c8c8,
        -16px -16px 32px #fefefe;
}

h1, h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.inputBox {
    position: relative;
    width: 300px;
}

.inputBox input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    color: #000;
    font-size: 1em;
    background: transparent;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    transition: 0.1s;
}

.inputBox span {
    margin-top: 5px;
    position: absolute;
    left: 0;
    transform: translateY(-4px);
    margin-left: 10px;
    padding: 10px;
    pointer-events: none;
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 3px;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
    transform: translateX(125px) translateY(-20px);
    font-size: 0.8em;
    padding: 5px 10px;
    background: #000;
    letter-spacing: 0.2em;
    color: #ffffff;
    border: 2px;
}

.inputBox input:valid,
.inputBox input:focus {
    border: 2px solid #000;
}

.button_login {
    height: 45px;
    width: 100px;
    border-radius: 5px;
    border: 2px solid #000;
    cursor: pointer;
    background-color: transparent;
    transition: 0.5s;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
}

.button_login:hover {
    background: #000;
    color: white;
}

.login_page a {
    text-decoration: none;
    color: #000;
}

.login_page a:hover {
    color: var(--ligthblue-color);
}

/* -------------------- new.html.twig new tricks form -------------------- */

.tricks_new {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #ffffff;
    min-height: 100vh;
}

.tricks_new h1 {
    font-family: var(--Lora-font);
}

.tricks_new form {
    font-family: var(--Lora-font);
    font-size: 18px;
}

.tricks_new a {
    height: 50px;
    width: 250px;
    border-radius: 5px;
    border: 2px solid #000;
    cursor: pointer;
    background-color: transparent;
    transition: 0.5s;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
    color: var(--black-color);
}

.tricks_new a:hover {
    background-color: var(--black-color);
    color: var(--white-color);
}

.tricks_new .tricks_new_form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    padding: 4% 0;
    min-height: 400px;
    width: 750px;
    flex-direction: column;
    gap: 35px;
    border-radius: 15px;
    background: #ffffff;
    box-shadow: 16px 16px 32px #c8c8c8,
        -16px -16px 32px #fefefe;
}

/* -------------------- new.html.twig new tricks form -------------------- */

.tricks_edit {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #ffffff;
    min-height: 100vh;
}

.tricks_edit h1 {
    font-family: var(--Lora-font);
}

.tricks_edit a {
    height: 50px;
    width: 250px;
    border-radius: 5px;
    border: 2px solid #000;
    cursor: pointer;
    background-color: transparent;
    transition: 0.5s;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
    color: var(--black-color);
}

.tricks_edit a:hover {
    background-color: var(--black-color);
    color: var(--white-color);
}

.tricks_edit .tricks_edit_form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    padding: 4% 0;
    min-height: 400px;
    width: 1050px;
    flex-direction: column;
    gap: 35px;
    border-radius: 15px;
    background: #ffffff;
    box-shadow: 16px 16px 32px #c8c8c8,
        -16px -16px 32px #fefefe;
}

.tricks_edit form {
    font-family: var(--Lora-font);
    font-size: 18px;
    width: 850px;
}

.tricks_edit .tricks_edit_form .edit_delete_image a {
    margin-left: 3%;
    padding: 1% 1%;
}

.tricks_edit .tricks_edit_form .edit_delete_video {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 4%;
}

/* -------------------- Footer -------------------- */

footer {
    left: 0;
    bottom: 0;
    background: transparent;
    margin-top: 5%;
    padding-top: 2%;
    width: 100%;
}

.nav_footer {
    text-align: center;
}

.nav_footer a {
    text-decoration: none;
    font-size: 25px;
    color: black;
}

.nav_social {
    width: 75%;
    height: 100px;
    margin-left: 5%;
    background-color: var(--orange-color);
    border-radius: 15px;
}

.nav_social ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav_social i {
    font-size: 3em;
    padding: 10px 50px;
    color: black;
}

.liens_utiles {
    right: 0;
    width: 75%;
    margin-left: 20%;
    height: 100px;
    background-color: var(--ligthblue-color);
    border-radius: 15px;
}

.liens_utiles ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.liens_utiles ul li {
    justify-content: center;
    align-items: center;
    font-size: 3em;
    padding: 10px 50px;
}

.liens_utiles ul li a:hover {
    border-bottom: 2px solid black;
}

.copyright {
    bottom: 0;
    margin-top: 1%;
    padding-top: 1%;
    font-size: 1.2em;
    text-align: center;
    border-top: 2px dotted black;

}

@media screen and (max-width: 900px) {
    .liens_utiles ul li {
        font-size: 0.5em;
    }
}