{% extends 'base.html.twig' %}

{% block title %}Nouvelle categorie{% endblock %}

{% block body %}
<div class="container">
    <h1>Formulaire de création d'une nouvelle categorie</h1>

    {{ include('category/_form.html.twig') }}
</div>
{% endblock %}
