<footer>
    <div class='nav_footer'>
        <div class="nav_social">
            <ul>
                <li><a href="#"><i class='bx bxl-instagram-alt'></i></a></li>
                <li><a href="#"><i class='bx bxl-github' ></i></a></li>
                <li><a href="#"><i class='bx bxl-linkedin-square' ></i></a></li>
            </ul>
        </div>
        <div class="liens_utiles">
            <ul>
                <li><a href="{{ path('app_category_index') }}">Catégories</a></li>
                <li><a href="#">Mentions Legales</a></li>
                <li><a href="#">Nous contacter</a></li>
            </ul>
        </div>
    </div>
    <div class="copyright">
        <p>Copyright - Snowtricks - Bastien LECERF - 2022 - OpenClassRooms</p>
    </div>
</footer>