<nav class="nav">
    <a href="#" class="logo">Snowtricks</a>
    <div class="links">
        <ul>           
            <li><a href="/">Home</a></li>
            <li><a href="/category">Category</a></li>
            <li><a href="#tricks">tricks</a></li>

            {% if app.user %}
                <li><a href="#">Profil</a></li>
                <li><a href="/deconnexion">Déconnexion</a></li>
            {% else %}
                <li><a href="/connexion">Connexion</a></li>
            {% endif %}
        </ul>    
    </div>
    <i class='bx bx-menu' alt='Menu Hamburger'></i>
</nav>