<nav class="nav">
    <a href="#" class="logo">Snowtrick</a>
    <div class="links">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/connexion">Connexion</a></li>
            <li><a href="/category">Category</a></li>
            <li><a href="/tricks">tricks</a></li>
            <li><a href="#">Déconnexion</a></li>
        </ul>    
    </div>
    <i class='bx bx-menu' alt='Menu Hamburger'></i>
</nav>