<nav class="nav">
        <ul>           
            <li><a class="color_home" href="{{ path("app_home") }}">Home</a></li>
            <li><a class="color_tricks" href="{{ path('app_home') }}#tricks">tricks</a></li>
            <li><a class="color_newTricks" href="{{ path('app_tricks_new') }}">New tricks</a></li>
            {% if app.user %}
                <li><a class="color_logout" href="/deconnexion">Déconnexion</a></li>
            {% else %}
                <li><a class="color_login" href="/connexion">Connexion</a></li>
            {% endif %}
        </ul>    
    <i class='bx bx-menu' alt='Menu Hamburger'></i>
</nav>
<div class="flying_button">
    <button id="scrollTopBtn" onClick="topFunction()" title="Remonter en haut de la page">
        <i class='bx bx-chevron-up slideUpButton'></i>
    </button>
</div>