<!DOCTYPE html>
<html lang='fr'>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Snowtrick{% endblock %}</title>
        <meta name="viewport" content="width=device-width">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {% include "tools/style.html.twig" %}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% include "tools/nav.html.twig" %}

        {% block body %}{% endblock %}

        {% include "tools/footer.html.twig" %}
        <script>
            const menuHamburger = document.querySelector(".bx")
            const navLinks = document.querySelector(".links")
    
            menuHamburger.addEventListener('click',()=>{
            navLinks.classList.toggle('mobile-menu')
            })
        </script>
        <script src="js/bootstrap.bundle.min.js"></script>
    </body>
</html>
