{% extends 'base.html.twig' %}

{% block title %}Nouveau Tricks - Snowtricks{% endblock %}

{% block body %}
<div class="container">
    <div class="tricks_new">
        <h1>Formulaire de création d'un nouveau Tricks</h1>
        <a href="{{ path('app_category_new') }}">Nouvelle categorie</a>
            <div class="tricks_new_form">
                {{ form_start(formNewTrick) }}
                {{ form_widget(formNewTrick) }}
                {{ form_end(formNewTrick) }}
            </div>
    </div>
</div>
{% endblock %}
